@{
    ViewData["Title"] = "Contact";
}
<h2>Contact Details</h2>

<address>
    Bill Chen<br />
    60 Bonnie Dr<br />
    Middletown NJ, 07748<br />
    <abbr title="Phone">P:</abbr>
    617-955-7647
</address>
